.main-nav {
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right-cont {
      .btn-nav {
        margin-left: 2rem;
      }
    }
  }
}
